<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Institutos 
    </ion-title>   
  </ion-navbar>
</ion-header>
<ion-content>
 <ion-list>
  <ion-item  *ngFor="let insti of institutos | async">
    <ion-thumbnail item-left>
      <img src="{{'assets/images/'+insti.img}}">
    </ion-thumbnail>
    <h2>{{insti.sigla}}</h2>
    <p>{{insti.fullName}}</p>

    <button *ngIf="insti.url" ion-button clear item-right  (click)="launch(insti.url,insti.sigla)">WebSite</button>   
  </ion-item> 
</ion-list>
</ion-content>
 