<ion-tabs color="coffee">
  <ion-tab [root]="tab1Root" tabTitle="Universidades" tabIcon="school"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Institutos" tabIcon="briefcase"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Acerca de" tabIcon="contact"></ion-tab>
</ion-tabs>
