<!--
  Generated template for the Sitelocation page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="fucsia">
    <ion-title>Ubicacion: {{lugar}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div #map id="map"></div>  
</ion-content>
