page-iframewrapper {
.webPage{
  width: 100%;
  height: 100%;
  border: 2px solid #EAAB00;

  padding: 1rem;
  background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="%23FF0000" x="50%" y="50%" font-family="\'Lucida Grande\', sans-serif" font-size="24" text-anchor="middle">Loading URL...</text></svg>') 0px 0px no-repeat;
  
  }
}
