<!--
  Generated template for the Iframewrapper page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding  class='has-subheader'>
  <iframe class='webPage' name="eventsPage" [src]='sanitizer.bypassSecurityTrustResourceUrl(theUrl)'>
   </iframe>
</ion-content>
