<ion-header>
  <ion-navbar color="coffee">
    <ion-title>
      Acerca de
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card> 
  <ion-card-content>
      <ion-card-title>
        The App
      </ion-card-title>
       <p>
      Esta aplicacion fue desarrollada solo con motivos de aprendizaje de la tecnologia usada.
    </p>
    <p>
      No existe relacion con ninguna institucion para la publicacion de los mismos en la app.
    </p>
  </ion-card-content>
</ion-card>
    <ion-card color="profile">

    <img src="assets/images/me.jpg"/>

    <ion-card-content>
      <ion-card-title>
         Josue Mancilla G. (@jujomago)
      </ion-card-title>
      <p>
        <strong>Senior Frontend Developer, Hybrid Developer</strong> 
      </p>
      <p>Currently I work as a technology consultant at SinapSYSIT my own venture.
I work with the latest web technologies and market trends, I am self-taught and I am continuously learning and improving my skills and knowledge<br/><br/> I am always looking for new projects and challenges where I can apply everything I have learned. <br/><br/> <em>Feel free to contact me</em>  </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <a href="http://www.linkedin.com/in/jujomago" ion-button clear small color="primary" icon-left>
          <ion-icon name='logo-linkedin'></ion-icon>
          LinkedIn
        </a>
      </ion-col>
      <ion-col text-center>
        <a  href="https://twitter.com/jujomago" ion-button clear small color="fucsia" icon-left>
          <ion-icon name='logo-twitter'></ion-icon>
          Twtitter
        </a>
      </ion-col>
      <ion-col text-right>
        <a  href="mailto:jujomago@gmail.com" ion-button clear small color="light" icon-left>
          <ion-icon name='mail'></ion-icon>
          Mail
        </a>
      </ion-col>
    </ion-row>
</ion-card>

</ion-content>
