page-universities {
    .logoU{
        padding:5px 35px;
        width: auto;
        margin: 0 auto;
    }
    .card-md{
        width: 100%;
        background: rgba(255, 255, 255, 0.86);
    }
    .content-md{
        background:#fff url(       'https://source.unsplash.com/category/buildings/800x600') no-repeat center 0;
        background-size:cover;
    }
}
