<ion-header>
  <ion-navbar color="mygreen">
    <ion-title>Universidades</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-sm-6 col-md-3 *ngFor="let univ of universities | async">
        <ion-card no-margin>
          <img src="{{'assets/images/'+univ.img}}" class="logoU" />
          <ion-card-content>
            <ion-card-title>{{univ.sigla}}</ion-card-title>
            <p>{{univ.fullName}}</p>
          </ion-card-content>
          <ion-row no-margin>
            <ion-col text-center>
              <button ion-button clear small color="primary" icon-left (click)="launch(univ.url,univ.sigla)">
          <ion-icon name='link'></ion-icon>
          MAS INFO
        </button>
            </ion-col>
            <ion-col text-center>
              <button ion-button clear small color="danger" icon-left (click)="pinMap(univ)">
          <ion-icon name='map'></ion-icon>
          Donde es? 
        </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>